// Typography
$font-family: helvetica;
$font-size:16px;
$font-size-multiplier:1.1;

// color pallete
$primary-color: #EC1C24;
$accent-color: $primary-color;
$secondary-color: #666;
$secondary-color-dark:#333;
$secondary-color-light: #ccc;

// grid
$gap: 16px;