// Typography
$font-family: Raleway;
$font-size:16px;
$font-size-multiplier:1.1;

// color pallete
$primary-color: #EC1C24;
$accent-color: $primary-color;
$secondary-color: #666;
$secondary-color-dark:#333;
$secondary-color-light: #ccc;

// grid
$gap: 16px;

$breakpoints: (
  xs: 24rem, //  384px
  sm: 32rem, //  512px
  md: 54rem, //  864px
  lg: 64rem, //  1024px
  xl: 80rem  //  1280px
);