    /*
    Flaticon icon font: Flaticon
    Creation date: 22/05/2018 00:54
    */


    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    
    $font-Flaticon-musica-searcher: "\f100";
    $font-Flaticon-speech-bubbles: "\f101";
    $font-Flaticon-social-media: "\f102";
    $font-Flaticon-facebook-logo: "\f103";
    $font-Flaticon-youtube-symbol: "\f104";

    @font-face {
      font-family: "Flaticon";
      src: url("./../fonts/icomoon.eot");
      src: url("./../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
           url("./../fonts/icomoon.woff") format("woff"),
           url("./../fonts/icomoon.ttf") format("truetype"),
           url("./../fonts/icomoon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./../fonts/icomoon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="icon-"]:before, [class*=" icon-"]:before,
    [class^="icon-"]:after, [class*=" icon-"]:after {   
      font-family: Flaticon;
      font-size: inherit;
      font-style: normal;
    // margin-left: 20px;
    }

    .icon-cat:before { content: "\e900"; }
    .icon-search:before { content: "\e901"; }
    .icon-chat:before { content: "\e902"; }
    .icon-twitter:before { content: "\e903"; }
    .icon-facebook:before { content: "\e904"; }
    .icon-youtube:before { content: "\e909"; }
    .icon-cristal:before { content: "\e90a"; }
    .icon-olla:before { content: "\e90b"; }
    .icon-utencilio:before { content: "\e907"; }
    .icon-vajilla:before { content: "\e908"; }
    