    /*
    Flaticon icon font: Flaticon
    Creation date: 22/05/2018 00:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../Flaticon.eot");
  src: url("../Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../Flaticon.woff") format("woff"),
       url("../Flaticon.ttf") format("truetype"),
       url("../Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("F../laticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.icon-search:before { content: "\f100"; }
.icon-chat:before { content: "\f101"; }
.icon-twitter:before { content: "\f102"; }
.icon-facebook:before { content: "\f103"; }
.icon-youtube:before { content: "\f104"; }
    
    $font-Flaticon-musica-searcher: "\f100";
    $font-Flaticon-speech-bubbles: "\f101";
    $font-Flaticon-social-media: "\f102";
    $font-Flaticon-facebook-logo: "\f103";
    $font-Flaticon-youtube-symbol: "\f104";

    @font-face {
      font-family: "Flaticon";
      src: url("./../fonts/Flaticon.eot");
      src: url("./../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("./../fonts/Flaticon.woff") format("woff"),
           url("./../fonts/Flaticon.ttf") format("truetype"),
           url("./../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="icon-"]:before, [class*=" icon-"]:before,
    [class^="icon-"]:after, [class*=" icon-"]:after {   
      font-family: Flaticon;
      font-size: inherit;
      font-style: normal;
    // margin-left: 20px;
    }
    
    .flaticon-musica-searcher:before { content: "\f100"; }
    .flaticon-speech-bubbles:before { content: "\f101"; }
    .flaticon-social-media:before { content: "\f102"; }
    .flaticon-facebook-logo:before { content: "\f103"; }
    .flaticon-youtube-symbol:before { content: "\f104"; }    