*,
*::before,
*:after {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

body {
  margin : 0;
  font-family : $font-family;

}

h1{
  font-size: $font-size * $font-size-multiplier * 3;
}
h2{
  font-size: $font-size * $font-size-multiplier * 2;
}
h3{
  font-size: $font-size * $font-size-multiplier;
}
h4{
  font-size: $font-size / $font-size-multiplier;
  
}
figure{
  padding: 0;
  margin: 0;
}