@include font-face(Merriweather, './../fonts/Merriweather-Regular', null, null, ttf);
@include font-face(NotoSans, './../fonts/NotoSans-Regular', null, null, ttf);
@include font-face(OpenSans, './../fonts/OpenSans-Regular', null, null, ttf);
@include font-face(Quicksand, './../fonts/Quicksand-Regular', null, null, ttf);
@include font-face(Raleway, './../fonts/Raleway-Regular', null, null, ttf);
@include font-face(RalewaySemiBold, './../fonts/Raleway-SemiBold', null, null, ttf);
// @include font-face(Cardo, './../fonts/Cardo-Regular', normal, bold, ttf);
// @include font-face(Cardo, './../fonts/Cardo-Regular', normal, bold, ttf);