/*
  This boilerplate is based in ITCSS and SMACSS
*/

// Config
@import "config/functions";
@import "config/variables";
@import "config/mixins";

// Base and elements (generic)
@import "base/normalize";
@import "base/base";
@import "base/flaticon";


// LAYOUT
  // Escribe solo los estilos de layout (division en regiones del viewport)
@import "layout/layout";

// MODULOS (SMACSS) O COMPONENTES (ITCSS)
  // Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
  // Crea los archivos adicionales que necesites (uno por componente)
@import "components/buttons";
@import "components/menus";
@import "components/gallerys";
@import "components/search-bar";
@import "components/blog-grid";
@import "components/checkbox";
@import "components/feature-list";
@import "components/forms";
@import "components/slider";

// Theme (colors and fonts)
@import "theme/typography";

// Utilities (hacks)
  // Todos los hacks que hayas necesitado para solucionar conflictos
  // o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "hacks/hacks";

.social-nav{
  &__title{
    font-weight: normal;
    color:rgb(223, 223, 223);
  }
}

.copyright{
  color: white;
  background-color: #000;
  padding: 1em 0;
  text-align: center;
}