/*
  This boilerplate is based in ITCSS and SMACSS
*/

// Config
@import "config/functions";
@import "config/variables";
@import "config/mixins";

// Base and elements (generic)
@import "base/normalize";
@import "base/fonts";
@import "base/base";
@import "base/flaticon";


// LAYOUT
  // Escribe solo los estilos de layout (division en regiones del viewport)
@import "layout/layout";

// MODULOS (SMACSS) O COMPONENTES (ITCSS)
  // Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
  // Crea los archivos adicionales que necesites (uno por componente)
@import "components/buttons";
@import "components/menus";
@import "components/gallerys";
@import "components/search-bar";
@import "components/blog-grid";
@import "components/checkbox";
@import "components/feature-list";
@import "components/forms";
@import "components/slider";

// Theme (colors and fonts)
@import "theme/typography";

// Utilities (hacks)
  // Todos los hacks que hayas necesitado para solucionar conflictos
  // o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "hacks/hacks";



.logo{
  display: flex;
  justify-content: center;
  height: 100%;
  padding: ($gap * 2) 0 $gap;
  // padding-top: $gap;
  &__img{
    display: block;
    // display: none;
    height: 100%;
    @include media(sm){
      width: 100%;
      height: auto;
    }
  }
}
.navbar{
  background-color: $primary-color;
}

.section{
  // width: 90%;
  &__title{
    font-size: 1.8rem;
    font-weight: normal;
    color: $secondary-color;
    &--footer{
      font-weight: normal;
      margin-bottom: -1rem;
      font-size: 1.7em;
      @include media(sm){
        text-align: center;
      }
    }
  }
  &::after,&::before{
    content: '';
    height: 3.2px;
    position: absolute;
    top: -2rem;
    display: block;
  }
  &::after{
    left: 0;
    width: 3rem;
    background-color: $primary-color;
  }
  &::before{
    right: 0;
    background-color: $secondary-color-light;
    width: calc(100% - 3rem - 5px);
  }
}

// .header-section{
//   &--search-bar{
//     @include media(xs){
//       background-color: $secondary-color-light;
//       padding: $gap / 2;
//     }
//   }
  
// }

.main-footer{
  border-top: 6px solid $primary-color;
  
}
.footer-nav{

  background-color: $secondary-color;

}
.copyright{
  color: white;
  background-color: #000;
  padding: 1em 0;
  text-align: center;
}
.social-nav{
  &__title{
    font-weight: normal;
    color:rgb(223, 223, 223);
    @include media(md){
      text-align: center;
    }
  }
  // @include media(sm){
  // }
}


