doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="css/styles.css")
    block metatags

  body
    include templates/header
    block main
    include templates/footer
    script(src="js/script.js")
