extends ../includes/template
include ../includes/components/menu-cat
block main
  - var catLinks = [{name:'Productos',url:'#'},{name:'Categorías',url:'#'},{name:'Cristalería',url:'#'},{name:'Vaso Largo',url:'#'}];

  main.main-content
    section.banner
      .banner__container
        nav.navbar-cat.section--wrapper
            figure.navbar-cat__fig
              span.icon-cristal
            h1.navbar-cat__title Cristelería
            +menuCat(catLinks)
    article.single-item
      section.single-item__section
        h2.single-item__title
        p.single-item__p
      section.single-item__section
        h3.single-item__sub-title Selecione una marca
        - var items = ['img/cristar.png','img/pirex.png','img/luminarce.png']
        acticle.logo-gallery
          each item in items
            figure.logo-gallery__fig
              img.logo-gallery__img(src=item)
        a.single-item__btn(href="#") Ver Catálogo
      section.single-item__section
        article.lightbox
          figure.lightbox__screen
            img.lightbox__img(src="Capa1.png", alt="")
          figure.lightbox__item
            img.lightbox__img(src="Capa2.png", alt="")
          figure.lightbox__item
            img.lightbox__img(src="Capa3.png", alt="")  
          figure.lightbox__item
            img.lightbox__img(src="Capa4.png", alt="")  
          figure.lightbox__item
            img.lightbox__img(src="Capa5.png", alt="") 
          
