extends ../includes/template
include ../includes/components/menu-cat
block main
  - var catLinks = [{name:'Productos',url:'#'},{name:'Categorías',url:'category.html'},{name:'Cristalería',url:'category.html'},{name:'Vaso Largo',url:'category-item.html'}];

  main.main-content
    section.banner
      .banner__container
        nav.navbar-cat.section--wrapper
            figure.navbar-cat__fig
              span.icon-cristal
            h1.navbar-cat__title Cristelería
            +menuCat(catLinks)
    article.single-item.section--not
      section.single-item__section
        h2.single-item__title.section__title Vaso largo,high ball o tumbler
        p.single-item__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quam, architecto quibusdam error, repudiandae obcaecati suscipit quisquam quos, ipsam incidunt facere ducimus. Animi explicabo debitis quia magnam, accusamus molestiae sit.
        p.single-item__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quam, architecto quibusdam error, repudiandae obcaecati suscipit quisquam quos, ipsam incidunt facere ducimus. Animi explicabo debitis quia magnam, accusamus molestiae sit.

      section.single-item__section
        h3.single-item__sub-title Selecione una marca
        - var items = ['img/cristar.png','img/pyrex.png','img/luminarce.png']
        acticle.logo-gallery--single
          each item in items
            figure.logo-gallery__fig--single
              img.logo-gallery__img--single(src=item)
        a.single-item__btn(href="#")
          span.icon-cat.icon-spacing
          | Ver Catálogo
      section.single-item__section
        article.lightbox#lightbox
          figure.lightbox__screen
            img.lightbox__img(src="img/Capa1.png", alt="")
          figure.lightbox__item.lightbox__item--active
            img.lightbox__img(src="img/Capa2.png", alt="")
          figure.lightbox__item
            img.lightbox__img(src="img/Capa3.png", alt="")  
          figure.lightbox__item
            img.lightbox__img(src="img/Capa4.png", alt="")  
          figure.lightbox__item
            img.lightbox__img(src="img/Capa5.png", alt="") 
          
