extends ../includes/template
include ../includes/components/navigation
include ../includes/components/features-gallery
include ../includes/components/logo-gallery
include ../includes/components/blog-grid
include ../includes/components/navigation-secondary
include ../includes/components/feature-list

block metatags
  title Page Title
  meta(name="description", content="description")

block main
  - var navItems = [{name:'Inicio',url:'#'},{name:'Nosotros',url:'#',subMenu:[{name:'Historia',url:'#'},{name:'Instalaciones',url:'#'},{name:'Nuestros Clientes',url:'#'}]},{name:'Productos',url:'#',subMenu:[{name:'Categorías',url:'#'},{name:'Marcas',url:'#'},{name:'Reposición de productos',url:'#'},]},{name:'Blog',url:'#',subMenu:[{name:'Lanzamientos',url:'#'},{name:'Responsabilidad social',url:'#'},{name:'Tips y consejos',url:'#'},{name:'Eventos',url:'#'},]},{name:'Contacto',url:'#'}];

  - var features = [{name:'Cristalería',src:'#'},{name:'Vajilla',src:'#'},{name:'Ollas y Sarténes',src:'#'},{name:'Utencilios de Cocina',src:'#'},{name:'Buffet',src:'#'},{name:'Repostería',src:'#'}]

  - var brands = [{name:'brand logo',src:'#'},{name:'brand logo',src:'#'},{name:'brand logo',src:'#'},{name:'brand logo',src:'#'},{name:'brand logo',src:'#'},{name:'brand logo',src:'#'}];

  - var posts = [{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'}]

  - var footerNavItems = [{name:'Nosotros',url:'#',subMenu:[{name:'Historia',url:'#'},{name:'Instalaciones',url:'#'},{name:'Nuestros Clientes',url:'#'}]},{name:'Productos',url:'#',subMenu:[{name:'Categorías',url:'#'},{name:'Marcas',url:'#'},{name:'Reposición de productos',url:'#'},]},{name:'Blog',url:'#',subMenu:[{name:'Lanzamientos',url:'#'},{name:'Responsabilidad social',url:'#'},{name:'Tips y consejos',url:'#'},{name:'Eventos',url:'#'},]}]

  header.main-header
    figure.logo
      img.logo__img(src="#", alt="page logo")
    +navBar(navItems)
    section.header-section--search-bar
      input#searchInput.search-bar(type="text", name="searchInput")
    section.header-section--chat
      a#chatTrigger.chat-btn
  main.main-content
    section.section.banner-slider
    section.section.categories
      h2.setion__title Categorías
      +featureGallery(features)
    section.section.brands
      h2.setion__title Marcas destacadas    
      +logoGallery(brands)
    section.section.blog
      h2.setion__title Visita nuestro blog    
      +blogGrid(posts)
  footer.main-footer
    section.section.footer-nav
      +navBarSec(footerNavItems)
      form.form-subcribe#subcribe(action="subcribe", method="get")
        label.form-subcribe__label(for="subcribe") Suscribete
        input.form-subcribe__text#subcribeText(type="text", name="subcribe")
        input.form-subcribe__btn#subcribeBtn(type="submit", value="Suscribete")
        input.form-subcribe__checkbox#subcribeCheckbox(type="checkbox", name="subcribe")
        span.form-subcribe__terms.
          Acepto los #[a.form-subcribe__link(href='#') terminos y condiciones]
    section.section.contact
      h2.setion__title--footer Categorías
      form.form-contact#contact(action="contact", method="get")
        p.form__description Escribanos o llámenos. Estaremos en contacto con usted a la brevedad posible.
        label.form-contact__label(for="contact_name") Nombre
          input.form-contact__text(type="text", name="contact_name")
        label.form-contact__label(for="contact_email") E-mail
          input.form-contact__text(type="email", name="contact_email")
        label.form-contact__label(for="contact_email") Consulta
          textarea#contactArea.form-contact__textarea(name="contact_subject", cols="30", rows="10")
        input.form-contact__btn#contactBtn(type="submit", value="Suscribete")
      nav.social-nav
        h3.social-nav__title Siguenos
        ul.social-menu
          -var links = {facebook:'#',twitter:'#', youtube:'#'}
          each link,index in links
            li.social-menu__item
              a.social-menu__link(href=link) #{index}
      -var featuresList = [{title:'Tienda Principal',adress:'Jr. Junin 774, Cercado de Lima', tel:'(01) 426-0955', email:'ealvarex@uysa.com.pe'},{title:'Tienda de Plásticos',adress:'Jr. Paruro 642, Cercado de Lima', tel:'(01) 426-0955', email:'ealvarex@uysa.com.pe'},{title:'Showroom Miraflores',adress:'Calle Elías Aguirre 213, Miraflores', tel:'947229257', email:'dnakamura@uysa.com.pe'},{title:'Venta Institusional',adress:'Jr. Junin 774, Cercado de Lima', tel:'(01) 427-4049', email:'mychicawa@uysa.com.pe'},{title:'Ventas a Provincias',adress:'Jr. Junin 774, Cercado de Lima', tel:'(01) 427-1608', email:'salarcon@uysa.com.pe'},{title:'Compras',adress:'Jr. Junin 774, Cercado de Lima', tel:'(01) 428-3994', email:'jegoavil@uysa.com.pe'}]

      +featuresList(featuresList)
        
