extends ../includes/template
block metatags
  title Page Title
  meta(name="description", content="description")
block main
  header.main-header
    figure.logo
      img.logo__img(src="#", alt="page logo")
    nav.main-nav.navbar
      ul.menu
        li.menu__item
          a.menu__link(href="#") Inicio
        li.menu__item
          a.menu__link(href="#") Nosotros
        li.menu__item
          a.menu__link(href="#") Productos
        li.menu__item
          a.menu__link(href="#") Blog
        li.menu__item
          a.menu__link(href="#") Contacto
    section.header-section--search-bar
      input#searchInput.search-bar(type="text", name="searchInput")
    section.header-section--chat
      a#chatTrigger.chat-btn
  main.main-content
    section.section.banner-slider
    section.section.categories
      h2.setion__title Categorías
      .features-gallery
        article.features-gallery__item
          h3.features-gallery__item-title Cristalería
          figure.features-gallery__fig
            img.features-gallery__fig(src="", alt="Cristalería")
        article.features-gallery__item
          h3.features-gallery__item-title Vajilla
          figure.features-gallery__fig
            img.features-gallery__fig(src="#", alt="Vajilla")
        article.features-gallery__item
          h3.features-gallery__item-title Ollas y Sarténes
          figure.features-gallery__fig
            img.features-gallery__fig(src="#", alt="Ollas y Sarténes")
        article.features-gallery__item
          h3.features-gallery__item-title Utencilios de Cocina
          figure.features-gallery__fig
            img.features-gallery__fig(src="#", alt="Utencilios de Cocina")
        article.features-gallery__item
          h3.features-gallery__item-title Buffet
          figure.features-gallery__fig
            img.features-gallery__fig(src="#", alt="Buffet")
        article.features-gallery__item
          h3.features-gallery__item-title Repostería
          figure.features-gallery__fig
            img.features-gallery__fig(src="", alt="Repostería")
    section.section.brands
      h2.setion__title Marcas destacadas    
      .logo-gallery
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
        figure.logo-gallery__fig
          img.logo-gallery__img(src="#", alt="")
    section.section.blog
      h2.setion__title Visita nuestro blog    
      .blog-grid
        article.post
          figure.post__fig
            img.post__img(src="#", alt="post img")
          h3.post__title Lorem ipsum dolor
          p.post__excert lorem ipsum lorem dolor. Consectetur adipiscig elit
          a.post__link(href="#")
        article.post
          figure.post__fig
            img.post__img(src="#", alt="post img")
          h3.post__title Lorem ipsum dolor
          p.post__excert lorem ipsum lorem dolor. Consectetur adipiscig elit
          a.post__link(href="#")
        article.post
          figure.post__fig
            img.post__img(src="#", alt="post img")
          h3.post__title Lorem ipsum dolor
          p.post__excert lorem ipsum lorem dolor. Consectetur adipiscig elit
          a.post__link(href="#")
        article.post
          figure.post__fig
            img.post__img(src="#", alt="post img")
          h3.post__title Lorem ipsum dolor
          p.post__excert lorem ipsum lorem dolor. Consectetur adipiscig elit
          a.post__link(href="#")
  footer.main-footer
