extends ../includes/template
include ../includes/components/features-gallery
include ../includes/components/logo-gallery
include ../includes/components/blog-grid
include ../includes/components/slider

block metatags
  title Page Title
  meta(name="description", content="description")

block main

  - var features = [{name:'Cristalería',src:'img/cat-1.png',icon:'cristal'},{name:'Vajilla',src:'img/cat-2.png',icon:'vajilla'},{name:'Ollas y Sarténes',src:'img/cat-3.png',icon:'olla'},{name:'Utencilios de Cocina',src:'img/cat-4.png',icon:'utencilio'},{name:'Buffet',src:'img/cat-5.png',icon:'vajilla'},{name:'Repostería',src:'img/cat-6.png',icon:'olla'}]

  - var brands = [{name:'brand logo',src:'img/logo-1.png'},{name:'brand logo',src:'img/logo-2.png'},{name:'brand logo',src:'img/logo-3.png'},{name:'brand logo',src:'img/logo-4.png'},{name:'brand logo',src:'img/logo-5.png'},{name:'brand logo',src:'img/logo-6.png'}];

  - var posts = [{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'},{postTitle:'Lorem ipsum dolor', postExcert:'lorem ipsum lorem dolor. Consectetur adipiscig elit',src:'#', postLink:'#'}]

  - var slides = ['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnpwW7408D_nn-q464Sbz3XM1wWVZPhJIXSBkqDpSRQtMuUBWJ','https://cdn-images-1.medium.com/max/2000/1*r2AuXvDuxdRWCqvmBhlssw.png','http://www.printawallpaper.com/upload/vistas_dd.jpg','http://ak7.picdn.net/shutterstock/videos/5207747/thumb/1.jpg'] 
  
    
  main.main-content
    //- section.section.banner-slider hola
    //- +slider(slides)
    section.section.categories
      h2.section__title Categorías
      +featureGallery(features)
    section.section.brands
      h2.section__title Marcas destacadas
      .slider-w
        button#nextS.slider-w__btn   
        button#prevS.slider-w__btn   
        +logoGallery(brands)
    section.section.blog
      h2.section__title Visita nuestro blog    
      +blogGrid(posts)
  
