.chat-btn{
  display: inline-flex;
  border-radius: 1.25rem;
  height: 100%;
  border: solid 1.5px $secondary-color-light;
  text-decoration: none;
  color:#000;
  justify-content: center;
  align-items: center;
  padding: .5rem 2rem;
  [class^="icon-"]:before{
    color: darken($secondary-color-light,10);
  }
  @include media(sm){
    // --btn-width:100%;
    --btn-width:48px;
    padding: .5rem;
    background-color: lighten($secondary-color,10);
    width: var(--btn-width);
    height: var(--btn-width);
    // height: 100%;
    border-radius: 0;
    border: none;
    [class^="icon-"]:before{
      color: darken($secondary-color-light,10);
      color: white;
    }
  }
  &__span{
    @include media(sm){
      display: none;
    }
  }
}
.nav-btn{
  --btn-width:48px;
  background-color: $primary-color;
  display: none;
  height: var(--btn-width);
  margin: $gap 0;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
  width: var(--btn-width);
  @include media(sm){
    display: flex;
    width: var(--btn-width);
  }
  
}

.menu-icon{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  z-index: 900000;
  
  &__item{
    display: block;
    background-color: white;
    width: 50%;
    height: 4px;
    position: absolute;
    transition: all ease-in-out .7s;
  }
  
  &__item:nth-of-type(1){
    top:-3px;
    // transform: translateY(-8px)
  }
  
  &__item:nth-of-type(2){

  }
  &__item:nth-of-type(3){
    bottom: -3px;
    // transform: translateY(8px)
  }


  
}
.menu-icon--active{
  
  &>:nth-of-type(1){
    // transform: translateY(0);
    top:auto;
    transform: rotate(45deg);
  }
  &>:nth-of-type(2){
    transform: scale(0)
  }
  &>:nth-of-type(3){
    // transform: translateY(0);
    bottom: auto;
    transform: rotate(-45deg);
  }
}