:root{
  --item-height: 0;
}
.features-gallery{
  display: grid;
  grid-auto-rows: var(--item-height);
  grid-gap: $gap;
  grid-template:{
    columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
  }
  @include media(md){
    grid-template:{
      columns: 1fr 1fr 1fr;
      
    }
  }
  &--subcat{
    @extend .features-gallery;
  }
  &__item-title{
    margin: 0;
    padding: .8em;
    text-align: center;
    font-size: .6em;
    font-size: .8em;
    // font-weight: 600; 
    font-family: RalewaySemiBold;
    text-transform: uppercase;
    position: absolute;
    bottom: 2em;
    width: 100%;
    background-color: rgba(255, 255, 255,.7);
    border: solid 5px rgba(255, 255, 255,.3);
    background-size: contain;
    background-clip: padding-box;
    @include media(sm){
      background-color:transparent;
      border: none;
      bottom: 1em;
    }
    &--subcat{
      @extend .features-gallery__item-title;
      @include media(sm){
        background-color: rgba(255, 255, 255,.7);
        border: solid 5px rgba(255, 255, 255,.3);
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: unset;
    }
  }
  
  &__item{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    &--subcat{
      @extend .features-gallery__item;
      position: relative;
    }
  }

  
  &__fig{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -50;
    @include media(sm){
      display: none;
    }
    &--subcat{
      @extend .features-gallery__fig;
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(to top, rgba(#000,.7), rgba(#000,0));
      }
      @include media(sm){
        display: flex;
      }
    }
  }
  &__img{
    display: block;
    height: 100%;
    z-index: -60;
    position: absolute;
    &--subcat{
      @extend .features-gallery__img;
      // height: 200%;
      // width: 200%;
    }
    &--3,&--2{
      height: 200%;
      top: -50%;
      left: -70%;
    }
    &--1{
      height: 200%;
      top: -1%;
      left: -40%;
    }
    

  }
  &__logo{
    width: 70%;
    height: var(--item-height);
    border-radius: 50%;
    background-color: white;
    transition: all ease .4s;
    position: absolute;
    top: 50%;
    transform: translateY(-80%) translateX(-50%);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: darken($secondary-color-light,30);
    @include media(sm){
      border: 3px solid darken($secondary-color-light,30);
      font-size: 2.5em;
      background-color: lighten($secondary-color-light,15);

    }
  }
  
  &__item:hover &__logo{ 
    background-color: $primary-color;
    color: white;
    @include media(sm){
      border: 3px solid $primary-color;

    }
  }
  
}


.logo-gallery{

  display: flex;
  justify-content: space-between;
  
  &--single{
    @extend .logo-gallery;
    
    @include media(md){
      flex-wrap: wrap
    }
    
  }
  // 
  @include media(720px){
  }
  @include media(sm){
    display: grid;
    grid-gap: $gap;
    grid-template:{
      columns: repeat(3,1fr);
      
    }
  }
  @include media(xs){
    display: grid;
    grid-template:{
      columns: repeat(2,1fr);
      
    }
  }
  
  &__fig{
    
    margin: $gap / 2;
    padding: $gap !important;
    height: 30vh;
    border: 1.5px solid $secondary-color-light;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  
    &:last-child{
      margin-left: 0 !important;
      
    }
    &:last-child{
      margin-right: 0 !important;
      
    }
    @include media(sm){
      margin: 0;
      padding: $gap !important;
    }
  }

  &__img{
    width: 100%;
  }


}


