:root{
  --item-height: 0;
}
.features-gallery{
  display: grid;
  grid-auto-rows: var(--item-height);
  grid-gap: $gap;
  grid-template:{
    columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
  }
  &__item-title{
    margin: 0;
    padding: .8em;
    text-align: center;
    font-size: .8em;
    font-weight: 400; 
    text-transform: uppercase;
    position: absolute;
    bottom: 2em;
    width: 100%;
    background-color: rgba(255, 255, 255,.7);
    border: solid 5px rgba(255, 255, 255,.3);
    background-size: contain;
    background-clip: padding-box;

  }
  
  
  &__item{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  
  &__fig{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -50;
    
  }
  &__img{
    display: block;
    height: 100%;
    z-index: -60;
    position: absolute;
    
    &--3,&--2{
      height: 200%;
      top: -50%;
      left: -70%;
    }
    &--1{
      height: 200%;
      top: -1%;
      left: -40%;
    }
    

  }
  &__logo{
    width: 70%;
    height: var(--item-height);
    border-radius: 50%;
    background-color: white;
    transition: background-color ease .4s;
    position: absolute;
    top: 50%;
    transform: translateY(-80%) translateX(-50%);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: darken($secondary-color-light,10);

  }
  
  &__item:hover &__logo{ 
    background-color: $primary-color;
    color: white
  }
}


.logo-gallery{
  $items-n:6;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  // margin:0 -$gap;
  // border: salmon solid 2px;
  &__fig{
    // flex: 0 0 calc((100% / #{$items-n}) - #{$gap});
    margin: 0 -8px;
    margin: 0 ;
    padding: 0 $gap;
    margin: 0 ($gap / 2);
    width: (100% / $items-n);
    height: 40vh;
    max-height: 150px;
    border: 1.5px solid $secondary-color-light;
    display: flex;
    align-items: center;
  
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }

  }

  &__img{
    width: 100%;
  }


}