.search-bar{

  &__text,&__btn{
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 1.25rem;
    outline: none;
    border: none;
  }
  &__text{
    max-width: 800px;
    width: 100%;
    background-color: $secondary-color-light;
    color:#000;
    padding-left: 2rem
  }
  &__text::placeholder{
    color:#000;
    opacity: 1;
  }
  &__btn{
    background-color: $secondary-color;
    width: 2.5rem;
    cursor: pointer;
    color: white;
    
  }
}
