.logo-cat{
  display: grid;
  grid-template: {
    columns: repeat(6,1fr);
  }
  grid-gap: $gap;
  @include media(md){
    grid-template: {
      columns: repeat(4,1fr);
    }
  }
  @include media(sm){
    grid-template: {
      columns: repeat(3,1fr);
    }
  }
  @include media(xs){
    grid-template: {
      columns: repeat(2,1fr);
    }
  }
  &__item{
    padding: $gap;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darken($secondary-color-light,10);
  }
  &__btn{
    background-color: lighten($secondary-color-light,2);
    padding: 1em 2em;
    color: $secondary-color;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in-out .4s;
    font-size: .8em;
    margin-top: 1em;
    &:hover{
      background-color: $primary-color;
      color: white;
    }
    @include media(sm){
      font-size: .6em;
      margin-top: .5em;
      
      
    }

  }
  &__fig{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  &__img{
    width: 100%;
    height: auto;
  }


}