
.main-header{
  display: grid;
  grid-template:{
    columns: 4fr 2fr;
    rows: 100px 4rem 2.5rem;
  }
  grid-gap:$gap;
  z-index: 1100;
  &>:nth-child(1){
    grid-column: 1 / span 2;

  }
  &>:nth-child(2){
    grid-column: 1 / span 2;
    background-color: $primary-color;
  }
  &>:nth-child(3),&>:nth-child(4){
    position: relative;
  }
  &>:nth-child(3){
    grid-column: 1 / 2;
    
  }
  &>:nth-child(4){
    grid-column: 2 / 3
  }
  @include media(md){
    grid-template:{
      columns: 3fr 2fr;
    }
  }
  @include media(680px){
    grid-template:{
      columns: 1fr 1fr;
    }
  }
  
  @include media(sm){
    grid-template:{
      columns: 5fr 1fr;
      rows: 80px 48px;
    }
    grid-gap:1px;
    &>:nth-child(1){
      grid-column: 1 / 2;
      padding: $gap;
      
    }
    &>:nth-child(2){
      // grid-column: 1 / span 2;

    }
    &>:nth-child(3),&>:nth-child(4){
      position: relative;
    }
    &>:nth-child(3){
      grid-column: 1 / 4;
    }
    &>:nth-child(4){
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(sm){
        padding: $gap 0;
        padding-right: $gap;
      }
    }
  }
}



.section{
  &,&--wrapper{
    max-width: 1200px;
    @include media(1250px){
      width: 90%;
    }
    @include media(md){
      width: 95%;
    }
  }
  &--wrapper{
    margin: auto
  }

  position: relative;
  margin: 3rem auto 5rem;

}

.footer-nav{

  &__container{
    display: grid;
    grid-gap: $gap;
    grid-template: {
      columns: 1fr 1fr;
    }
    @include media(sm){
      // display: block;
      grid-template: {
        columns: 1fr;
      }
    }
  }
  
}

.subcribe{
  justify-self: end;
}

.contact{
  background-color: $secondary-color-dark;
  color: white;
  padding-bottom: 1rem;
  &__container{
    display: grid;
    grid-gap: $gap;
    grid-template:{
      columns: 1fr 1fr;
    }
    
    &>:nth-child(1),&>:nth-child(4){
      grid-column: 1 / 3;
    }
    &>:nth-child(2){
      grid-column: 1 / 2;
    }
    &>:nth-child(3){
      grid-column: 2 / 3;
      justify-self: center;
      width: 50%;
      
    }
    @include media(md){
      grid-template:{
        columns: 1fr;
      }
      &>:nth-child(1),&>:nth-child(4){
        grid-column: 1 / 2;
      }
      &>:nth-child(2){
        grid-column: 1 / 2;
      }
      &>:nth-child(3){
        grid-column: 1 / 2;
        justify-self: center;
        width: 100%;
        padding: $gap 15% 20px;
        border-top: 1px solid $secondary-color-light;
        border-bottom: 1px solid $secondary-color-light;
        
      }
    }
    
  }
}
