
.main-header{
  display: grid;
  grid-template:{
    columns: 4fr 2fr;
    rows: 6rem 4rem 2.5rem;
  }
  grid-gap:$gap;

}

.navbar{
  grid-column: 1 / span 2;
  background-color: $primary-color;
}

.logo{
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  height: 100%;
  margin:0;
  padding: 0;
  
  &__img{
    display: block;
    height: 100%;
  }
}


.header-section{
  &--chat,&--search-bar{
    position: relative;
  }
  &--chat{
    grid-column: 2 / 3
  }
  &--search-bar{
    grid-column: 1 / 2;
    
  }


}

.section{
  &,&--wrapper{
    max-width: 1200px;
  }
  &--wrapper{
    margin: auto
  }

  position: relative;
  margin: 3rem auto 5rem;

  &__title{
    font-size: 1.8rem;
    font-weight: normal;
    color: $secondary-color;
    &--footer{
      font-weight: normal;
      margin-bottom: -1rem;
      font-size: 1.7em;
    }
  }
  &::after,&::before{
    content: '';
    height: 3.2px;
    position: absolute;
    top: -2rem;
    display: block;
  }
  &::after{
    left: 0;
    width: 3rem;
    background-color: $primary-color;
  }
  &::before{
    right: 0;
    background-color: $secondary-color-light;
    width: calc(100% - 3rem - 5px);
  }
}

.main-footer{
  border-top: 6px solid $primary-color;
  padding: 0;
  margin: 0;
}

.footer-nav{
  padding: 0;
  margin: 0;
  background-color: $secondary-color;
  &__container{
    display: grid;
    grid-gap: $gap;
    grid-template: {
      columns: 1fr 1fr;
    }
  }
  
}

.subcribe{
  justify-self: end;
}

.contact{
  background-color: $secondary-color-dark;
  color: white;
  padding-bottom: 1rem;
  &__container{
    display: grid;
    // grid-template: 
    grid:{
      gap: $gap;
      template-columns: 1fr 1fr;
    }

    &>:nth-child(1),&>:nth-child(4){
      grid-column: 1 / 3;
    }
    &>:nth-child(2){
      grid-column: 1 / 2;
    }
    &>:nth-child(3){
      grid-column: 2 / 3;
      justify-self: center;
      width: 50%;
      
    }
    
  }
}
