include ../components/navigation

- var navItems = [{name:'Inicio',url:'index.html'},{name:'Nosotros',url:'#',subMenu:[{name:'Historia',url:'#'},{name:'Instalaciones',url:'#'},{name:'Nuestros Clientes',url:'#'}]},{name:'Productos',url:'category.html',subMenu:[{name:'Categorías',url:'#'},{name:'Marcas',url:'#'},{name:'Reposición de productos',url:'#'},]},{name:'Blog',url:'#',subMenu:[{name:'Lanzamientos',url:'#'},{name:'Responsabilidad social',url:'#'},{name:'Tips y consejos',url:'#'},{name:'Eventos',url:'#'},]},{name:'Contacto',url:'#contact'}];

header.main-header
  figure.logo
    img.logo__img(src="img/logo.png", alt="page logo")
  +navBar(navItems)
  section.header-section--search-bar.search-bar
    span.search-bar__wrapper
      input#searchInput.search-bar__text(type="text", name="searchInput",placeholder='¿Qué producto o marca estás buscando?')
      button#searchBtn.search-bar__btn(type="submit")
        span.icon-search
  section.header-section--chat
      a#chatTrigger.chat-btn(href='#')
        span.chat-btn__text
          span.icon-chat
          span.chat-btn__span ¿Consultas? Chat Online
      a#navTrigger.nav-btn(href='#')
        .menu-icon
          span.menu-icon__item
          span.menu-icon__item
          span.menu-icon__item